<!DOCTYPE html>
<html lang="en">
<head>

    <!--<script src="{{url_for ('static', filename='js/index.js')}}"></script>-->
    <script>
            document.addEventListener('DOMContentLoaded', ()=>{
		document.querySelector('#form').onsubmit = () =>{

		const request = new XMLHttpRequest();
		const currency = document.querySelector('#currency').value;
		request.open('POST', '/convert')


        // callback fucntion for when request completed
        request.onload = () =>{

            const data = JSON.parse(request.responseText);

            // update the result div
            if(data.success){
            const contents = `1 EUR is equal to ${data.rate} ${currency}.`
            document.querySelector('#result').innerHTML = contents;

            }
            else{
                document.querySelector("#result").innerHTML = 'There was an error.';
            }
        }

        //add data to send with request
        const data = new   FormData();
        data.append('currency', currency);

        // send request
        request.send(data);
        return false;
		};
});


</script>

    <title> Currency Converter</title>

 <style>

     body{

            padding: 20px;
            font-size: 20px;
            text-align: center;
            background: blueviolet;

     }

     #form{
            padding: 40px;
            font-size: 30px;
            width: 100%;


     }

     #result{
                font-size: 25px;
                font-style: normal;
                color: floralwhite;

     }

 </style>
</head>
<body>
    <h1>Currency Converter</h1>
    <h5>Base Currency: EUR</h5>
    <form id="form">
        <input id="currency" autocomplete="off" autofocus placeholder="Currency"n style="width: 50%;">
        <input type="submit" value="Get Exchange Rate">
    </form>
    <br>
    <div id="result"> </div>
</body>
</html>