{% extends "layout.html" %}

{% block heading %}

<style>

    ul{


    font-size: 18px;
    font-family: auto;
    line-height: 35px;
    }

    p{

    font-size: 22px;
    color: blue;
    }


</style>

{% endblock %}

{% block body %}

<p >Flight Details</p>

<ul>
    <li> Origin: {{ flight.origin }}</li>
    <li> Destination: {{ flight.destination }}</li>
    <li> Duration: {{ flight.duration }}  minutes</li>
</ul>

<p > Passengers </p>
<ul>
    {% for passenger in passengers %}
      <li> {{passenger.name}}</li>
    {% else %}
        <li> No Passengers.</li>
    {% endfor %}

</ul>

{% endblock %}